<template name="layout">
  <nav class="ui menu inverted navbar page grid" style="margin-bottom: 0px">
    <a href="" class="brand item">FoodMe</a>
    <div class="right menu">
      <!-- TODO: Replace with Facebook button -->
      <div class="item">
        {{> loginButtons}}
      </div>
    </div>
  </nav>

  <main class="ui page grid">
    <div class="row">
      <div class="column">
        {{> yield}}

      </div>
    </div>
  </main>
</template>

<template name="Landing">
  <h1 class="ui header">FoodMe</h1>
  FoodMe is a great way to try out a new restaurant without the hassle of 
  managing a group of people. With FoodMe, just set up a group and make new 
  friends at dinner over great food.

  <div class="ui two column stackable center aligned grid segment">
    <div class="column">
      <a href="new-group" class="ui primary button">Find a cool restaurant!</a>
    </div>

    <div class="ui vertical divider">or</div>
    
    <div class="column">
      <a href="find-group" class="ui primary button">Find a cool group</a>
    </div>
  </div>
</template>

<template name="NewGroup">
  <h1 class="ui header">New Group</h1>
</template>

<template name="FindGroup">
  <h1 class="ui header">Find a group</h1>

  find a group to eat with you lonely sob

  {{#each groups}}
    <div class="ui card">
      <div class="ui top left attached label">{{index}}</div>
      <div class="content">
        <a href="groups/{{_id}}" class="ui header">{{name}}</a>
        <div class="description">{{description}}</div>
      </div>

      <div class="ui two bottom attached buttons">
        <div class="ui green button"><i class="checkmark icon"></i></div>
        <div class="ui red button"><i class="remove icon"></i></div>
      </div>
    </div>
  {{/each}}
</template>
