<template name="groupList">
  <h1 class="ui header">We weren't able to find a perfect match, but consider these alternatives.</h1>
  {{#each this}}
    <div class="ui card">
      <div class="ui top left attached label">{{index}}</div>
      <div class="content">
        <a href="groups/{{_id}}" class="ui header">{{restaurant}}</a>
        <div class="description">Size: {{size}} | Time: {{time}}</div>
      </div>

      <div class="ui two bottom attached buttons">
        <div class="ui green button"><i class="checkmark icon"></i></div>
        <div class="ui red button"><i class="remove icon"></i></div>
      </div>
    </div>
  {{/each}}
</template>
