<template name="newGroup">
  <div class="ui inverted dimmer loading hidden">
    <div class="ui indeterminate text loader">
      {{message}}
    </div>
  </div>

  <h1 class="ui header">Pick a restaurant</h1>

  <form class="ui fluid form" action="submit-group" method="POST">
    <div class="two fields">
      <div class="field">
        <label>Restaurant Name</label>
        <input type="text" name="restaurant-name" placeholder="veggie, burgers, tacos..." />
      </div>
      <div class="field">
        <label>...or take a look at some suggestions</label>
        {{> restaurantList}}
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="three fields">
      <div class="field">
        <label>Group Size</label>
        <input type="number" name="group-size" min="2" />
      </div>

      <div class="field">
        <label>Date</label>
        <input type="date" name="date" />
      </div>

      <div class="field">
        <label>Time</label>
        <input type="time" name="time" />
      </div>
    </div>

    <div class="inline field">
      <div class="ui checkbox checked">
        <input type="checkbox" name="only-friends" />
        <label>Restrict to Facebook friends</label>
      </div>
    </div>

    <input type="text" style="display: none;" value="{{id}}" name="user"/>
    <input type="submit" class="ui submit primary button" value="Go!"/>
  </form>
</template>

<template name="date">
  <div class="input-group datetimepicker">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input class="set-due-date form-control" type="text"/>
  </div>
</template>
